<div class="create__team__modal__main__container">
    <div class="modal__header">
        <h1>Create a new team</h1>
    </div>
    <div class="modal__content">
        <mat-form-field appearance="fill" class="w-100 form-label-group">
            <mat-label>Team name</mat-label>
            <input matInput placeholder="Team name">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-error *ngIf="true">{{}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100 form-label-group">
            <mat-label>Describe what the team is about</mat-label>
            <textarea matInput placeholder="Description"></textarea>
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-error *ngIf="true">{{}}</mat-error> -->
        </mat-form-field>
    </div>
    <div class="modal__footer">

    </div>
</div>
