<div class="page__container teams__main__container">
    <!-- Header -->
    <div class="page__header__left">
        <button class="icon__button mr-5">
            <mat-icon mat-button (click)="goBack()" aria-hidden="false" class="navigate__back__icon" aria-label="Example home icon">arrow_back</mat-icon>
        </button>
        <span class="page__title">Teams</span>
    </div>
    <div class="page__header__right">
        <button (click)="openCreateTeamModal()" mat-raised-button>Create team</button>
    </div>

    <!-- Content -->
    <div class="container">
        
    </div>
</div>