@import "~bootstrap/dist/css/bootstrap.css";
@import "font.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {background-color: #192734;}
