<div class="achievement__badge tier__{{achievement.tier ? achievement.tier : 1}}">
    <img src="../../../../assets/tier-0{{achievement.tier ? achievement.tier : 1}}.png" mat-card-avatar class="example-header-image"/>
    <p class="achievement__name">{{achievement.name}}</p>
    <!-- <p class="achievement__description">{{achievement.description}}</p> -->
    <!-- <p class="achievement__additional">Aloo</p> -->
    <div class="achievement__tier__star__container">
        <mat-icon *ngFor="let tier of getTier()" mat-button aria-hidden="false" class="achievement__tier__star" aria-label="Example home icon">star</mat-icon>
    </div>
</div>